**/bin/**
**/obj/**
GridGame/GridGame.iOS/obj/Debug/net9.0-ios/iossimulator-x64/GridGame.iOS.AssemblyInfoInputs.cache
GridGame/GridGame.iOS/obj/Debug/net9.0-ios/iossimulator-x64/GridGame.iOS.csproj.AssemblyReference.cache
